{% extends "base.html" %}

{% block main_content %}
    <h1>Register</h1> 
    <h2> Sign up below </h2>
    <form action="" method="post" novalidate> 
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username(class="text") }}
        {% for error in form.username.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password.label }}
        {{ form.password(class="text") }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password2.label }}
        {{ form.password2(class="text") }}
        {% for error in form.password2.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.submit(class="submit") }}
    </form>   

    <p> Do you already have an account? <a href="{{ ( url_for('login') ) }}"> Login here</a> </p>
{% endblock %}
